* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Inter', sans-serif;
}

.body-link {
  color: #fff;
  text-decoration: none;
  transition: 0.3s text-decoration ease;
}

.body-link:hover {
  text-decoration: underline !important;
  transition: 0.3s text-decoration ease;
}

a {
  text-decoration: none !important;
}

#project-btn {
  margin-top: 40px;
  background: rgb(0, 131, 191);
  color: #fff;
  border: 2px solid rgb(0, 131, 191);
}

#project-btn:hover {
  color: #fff;
  border-color: #fff;
  background: transparent;
}

#project-btn:after {
  border-left: 8px solid #fff;
}

/* Portfolio Table Section */
.portfolio-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 60vh;
  margin-top: 180px;
  background: rgb(15, 23, 42);
}

.return-div {
  padding: 20px;
}

.return-link {
  color: #fff !important;
}

.portfolio-heading {
  padding: 20px;
}

.portfolio-heading h1 {
  color: #fff;
  font-size: 48px;
}

.portfolio-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.portfolio-section table {
  width: 100%;
  border-collapse: collapse;
  padding: 20px;
}

.portfolio-section th,
.portfolio-section td {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  color: #fff;
}

.portfolio-section th {
  background-color: transparent;
  font-weight: bold;
  text-align: left;
  color: #fff;
}

.portfolio-section tbody tr:nth-child(even) {
  background-color: transparent;
}

.portfolio-section td {
  text-align: left;
}

.portfolio-section td a {
  color: #fff;
  text-decoration: none;
}

.portfolio-section td a:hover {
  text-decoration: underline;
}
