* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Inter', sans-serif;
}

.body-link {
  color: #fff;
  text-decoration: none;
  transition: 0.3s text-decoration ease;
}

.body-link:hover {
  text-decoration: underline !important;
  transition: 0.3s text-decoration ease;
}

a {
  text-decoration: none !important;
}

#project-btn {
  margin-top: 20px;
}
/*

 opacity: ${({ isOpen }) => (isOpen ? '100%' : '0')};
    top: ${({ isOpen }) => (isOpen ? '0' : '-100%')}; */